{% extends 'base.html' %}

{% block content %}
    <form action="{{ request.path }}" method="get">
        <select name="level" id="level">
            <option value="info">Info</option>
            <option value="error">Error</option>
        </select>
        <label for="level">Select level:</label>
        <button type="submit">Submit</button>
    </form>
    <ul>
        {% for log in logs %}
            <li>
                {{ log.time }}
                - {{ log.file or log.url }}: {{ log.message or log.method }}
                ({{ log.host or log.traceback }})
            </li>
        {% endfor %}
    </ul>
{% endblock %}