{% extends 'base.html' %}

{% block title %}Basket{% endblock %}

{% block content %}
    {% from "_formhelpers.html" import render_field %}
    <table class="table">
        <tbody>
        <tr>
            {% for line in lines %}
                <td class=>
                    <a href="{{ line.product.get_absolute_url() }}">{{ line.product.name }}</a>
                </td>{% endfor %}
        </tr>
        <tr>
            {% for form in forms %}
                <td>
                    <form method="post"
                          action="{{ url_for('basket.update_line') }}">
                        {{ csrf_token }}
                        <div class="hidden">
                            {{ render_field(form.line_id) }}
                        </div>
                        {{ render_field(form.quantity) }}
                        <button class="btn btn-default" type="submit">Update
                        </button>
                    </form>
                </td>

            {% endfor %}
        </tr>
        </tbody>
    </table>

                <div class="row">
                <div class="col-sm-12 col-md-4">
                    <p>
                        Total: {{ current_user.get_basket.total_price }}</p>
                    <p>Total inc
                        discount: {{ current_user.get_basket.total_price_inc_discount }}</p>
                    <p>
                        Shipping: {{ current_user.get_basket.shipping_price }}</p>
                    <br>
                    <p>
                        Total: {{ current_user.get_basket.total_incl_discount_incl_shipping }}</p>
                </div>
            </div>
            <a class="btn-lg btn-success checkout-btn pull-right"
               href="{{ url_for('orders.checkout') }}" id="checkout_btn">Checkout</a>

{% endblock %}